@media screen and (min-width:480px) and (max-width:800px) {
   body{
   	background: white;
   	color:red;
   }
}

@media screen and (max-width:479px) {
  body{
    background: pink;
    color:white;
  }
}